.App {
  text-align: center;
  color: white;
  background-color: #222;
}

body{
  background-color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.movie-info{
  position: relative;
  left: 59px;
  margin-top: 10px;
}

.movie-details{
  color:  #A7A8A8;
  
}
.table{
  display: table;
  border-collapse: collapse;
}

.movie-details .cell{
  padding-top: 5px;
}
.movie-details .row{
  border-bottom: 0.5px solid #A7A8A8;
}

.row{
  display: table-row;
}

.cell{
  display: table-cell;
  text-align: left;
}
